.sidebarContainer {
    position: fixed;
    min-height: 100vh;
    z-index: 100;
    top: 0;

    &>div {
        &>svg {
            background-color: white;
            color: black;
            border-radius: 100%;
            position: absolute;
            top: 128px;
            right: -10px;
            cursor: pointer;
        }
    }
}

.collapsed,
.expanded {
    transition: width 0.3s ease;
}

.collapsed {
    width: 80px;
}

.expanded {
    width: 256px;
}