.loadingScreen {
  display: flex;
  justify-content: center;
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
      width: 40px;
      padding: 8px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: var(--cPrimary);
      --_m: conic-gradient(#0000 10%, #00e38c),
        linear-gradient(#00e38c 0 0) content-box;
      -webkit-mask: var(--_m);
      mask: var(--_m);
      -webkit-mask-composite: source-out;
      mask-composite: subtract;
      animation: l3 1s infinite linear;
    }
  }
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
