.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--bRadiusS);
    background-color: var(--cWhite);
    position: relative;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-weight: var(--bSemiBold);
      color: var(--cBlack);
    }
  }
}
