.inputCodeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: "transparent";
  gap: 3rem;
  margin-bottom: var(--spS);
  margin-top: var(--spS);
  width: 100%;
}

.inputCode {
  width: 48px;
  padding: var(--spS);
  align-items: center;
  text-align: center;
  background-color: var(--cBlackV2);
  border: none;
  border-radius: var(--spS);
  transition: border-color 0.3s ease;
  color: var(--cWhite);

  &:focus {
    outline: none;
    color: var(--cWhite);
    border: 1px solid var(--cAccent);
    background-color: var(--cBlackV2);
    box-shadow: 0 0 0 3px rgba(var(--cAccent), 0.2);
  }
}
.inputCodeErr {
  color: var(--cError);
  border: 1px solid var(--cError);
  width: 48px;
  padding: var(--spS);
  text-align: center;
  background-color: transparent;
  border-radius: var(--spS);
  transition: border-color 0.3s ease;
}
.inputCode[type="number"]::-webkit-inner-spin-button,
.inputCode[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputCode[type="number"] {
  -moz-appearance: textfield;
}
