.switch {
    &>div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &>div:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;

            &>label {
                display: flex;
                gap: var(--sPs);
                font-size: var(--sS);
                color: var(--cWhiteV3);
                margin-right: var(--sPs);
            }

            &>.label-active {
                font-weight: var(--bBold);
            }

            &>div:first-child {
                position: relative;
                cursor: pointer;

                &>input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                &>div {
                    position: absolute;
                    left: 0.125rem;
                    top: 2px;
                    height: 1rem;
                    width: 1rem;
                    border-radius: 9999px;
                    transition: background-color 0.3s ease-in-out;
                }
            }
        }
    }
}


.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-label {
    display: flex;
    gap: var(--sPs);
    font-size: var(--sS);
    color: var(--cWhiteV3);
    margin-right: var(--sPs);
}

.label-active {
    font-weight: var(--bBold);
}

.container-label {
    position: relative;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.bg-position {
    display: relative;
    width: 2.25rem;
    height: 1.25rem;
}

.rounded-full {
    border-radius: 9999px;
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

