.select {
  position: relative;
  width: 100%;
  /* z-index: 30; */
  /* & > section {
    background-color: var(--cBlackV2);
    border: var(--bWidth) solid var(--cWhiteV1);
    border-radius: var(--bRadius);
    position: absolute;
    top: 100px;
    width: calc(100% - var(--spS) * 2);
    padding: var(--spS);
    & > ul {
      overflow-y: auto;
      max-height: 250px;
      padding: var(--spS) var(--spS);
      & li {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: var(--spS) var(--spS);
      }
      & li:hover,
      & li.selected {
        background-color: #00e38c0d;
      }
    }
  } */
}

.selectOptions {
  background-color: var(--cBlackV1);
  border: var(--bWidth) solid var(--cWhiteV1);
  border-radius: var(--bRadius);
  position: absolute;
  top: 20px;
  margin-top: 18px;
  width: calc(100% - var(--spS) * 2);
  /* padding: var(--spS); */
  color: var(--cWhiteV2);
  & > ul {
    overflow-y: auto;
    max-height: 250px;
    /* padding: var(--spS) var(--spS); */
    & li {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: var(--spS) var(--spS);
    }
    & li:hover,
    & li.selected {
      background-color: var(--cBlackV2);
      color: var(--cWhite);
    }
    & > li:last-of-type {
      &:hover,
      &.selected {
        border-radius: 0 0 var(--bRadius) var(--bRadius);
      }
    }
    & > li:first-of-type {
      &:hover,
      &.selected {
        border-radius: var(--bRadius) var(--bRadius) 0 0;
      }
    }
  }
}

/* 
.select {
  position: relative;
  width: 100%;
 
  & > section {
  background-color: var(--cBlackV1);
  color: var(--cBlackV2);
  border: var(--bWidth) solid var(--cWhiteV1);
  border-radius: var(--bRadius);
  position: absolute;
  top: 100px;
  width: calc(100% - var(--spS) * 2);
  padding: var(--spS);
  & > ul {
  overflow-y: auto;
  max-height: 250px;
  padding: var(--spS) var(--spS);
  & li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--spS) var(--spS);
  }
  & li:hover,
  & li.selected {
  background-color: var(--cWhiteV1);
  color:var(--cWhite)
  }
  }
  }
  }
  
  Reaccionar
  
  Responder */
