.cardSkeleton {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    animation: shimmer 2s infinite;
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent
    );
  }
  & > div {
    display: flex;
    padding: 1rem;
    &:first-child {
      & > div {
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 0.375rem;
        background-color: #e5e7eb;

        &:nth-child(2) {
          margin-left: 0.5rem;
          height: 1.5rem;
          width: 4rem;
          font-size: 0.875rem;
          font-weight: 500;
        }
      }
    }
    &:nth-child(2) {
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: 0.75rem;
      background-color: #ffffff;
      padding: 2rem 1rem;
      & > div {
        height: 1.75rem;
        width: 5rem;
        border-radius: 0.375rem;
        background-color: #e5e7eb;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.loadingScreen {
  display: flex;
  justify-content: center;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 40px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--cPrimary);
  --_m: conic-gradient(#0000 10%, #00e38c),
    linear-gradient(#00e38c 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes borderAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.tableSkeleton {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--spS);
  padding: var(--sL);
  & > div {
    background-color: var(--darkv1);
    padding-left: var(--spXl);
    padding-right: var(--spXl);
  }
}

.rowSkeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  padding: var(--sL);
  animation: pulse-animation 1.5s infinite ease-in-out;
  & > div:nth-child(1) {
    display: flex;
    align-items: center;
    & > div:nth-child(1) {
      margin-right: var(--spS);
      height: var(--spXxl);
      width: var(--spXxl);
      border-radius: 100%;
      background-color: #e5e7eb;
      animation-name: pulse-animation;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
      animation-iteration-count: infinite;
    }
    & > div:nth-child(2) {
      min-width: 0px;
      & > div:nth-child(1) {
        height: var(--sL);
        width: 10rem;
        border-radius: var(--bRadius);
        background-color: #d1d5db;
        animation: pulse-animation 1.5s infinite;
      }
      & > div:nth-child(2) {
        margin-top: var(--spS);
        height: var(--sL);
        width: 3rem;
        border-radius: var(--bRadius);
        background-color: #d1d5db;
        animation: pulse-animation 1.5s infinite;
      }
    }
  }
  & > div:nth-child(2) {
    margin-top: var(--spS);
    height: var(--sL);
    width: 3rem; /* w-12 */
    border-radius: var(--bRadius);
    background-color: #d1d5db;
    animation: pulse-animation 1.5s infinite;
  }
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

.cardSkeleton {
  position: relative;
  overflow: hidden;
  border-radius: var(--sM);
  background-color: #f0f0f0;
  padding: var(--spS);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  animation: pulse-animation 1.5s infinite ease-in-out alternate;
  & > div:nth-child(1) {
    display: flex;
    padding:var(--sL) & > div:nth-child(1) {
      height: var(--sL);
      width: var(--sL);
      border-radius: var(--spS);
      background-color: #e5e7eb;
    }
    & > div:nth-child(2) {
      margin-left: var(--spS);
      height: var(--spXl);
      width: 4rem;
      border-radius: var(--spS);
      background-color: #e5e7eb;
      font-size: var(--sM);
      font-weight: var(--bSemiBold);
    }
  }
  & > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: var(--spS);
    background-color: #ffffff;
    padding: var(--spXxl);
    & > div {
      height: 1.75rem;
      width: 5rem;
      border-radius: var(--spS);
      background-color: #e5e7eb;
    }
  }
}

.revenueChartSkeleton {
  position: relative;
  width: 100%;
  overflow: hidden;

  animation-name: pulse-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  @media (min-width: 768px) {
    grid-column: span 4;
  }

  & > div:nth-child(1) {
    margin-bottom: var(--sL);
    height: var(--spXxl);
    width: 9rem;
    border-radius: var(--spS);
    background-color: #f3f4f6;
    animation-name: pulse-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  & > div:nth-child(2) {
    border-radius: var(--spXl);
    background-color: #f3f4f6;
    padding: var(--sL);
    & > div:nth-child(1) {
      margin-top: 0;
      display: grid;
      height: 410px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      align-items: end;
      gap: var(--spS);
      border-radius: var(--spS);
      background-color: #ffffff;
      padding: var(--sL);
      @media (min-width: 640px) {
        grid-template-columns: repeat(13, minmax(0, 1fr));
        gap: var(--sL);
      }
    }
    & > div:nth-child(2) {
      display: flex;
      align-items: center;
      padding-bottom: var(--spS);
      padding-top: var(--spXl);
      & > div:nth-child(1) {
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
        background-color: #e5e7eb;
        animation: pulse-animation 1.5s infinite;
      }
      & > div:nth-child(2) {
        margin-left: var(--spS);
        height: var(--sL);
        width: 5rem;
        border-radius: var(--spS);
        background-color: #e5e7eb;
        animation: pulse-animation 1.5s infinite;
      }
    }
  }
}
